<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
.parent{
    background: #999;
}
.left{
    float: left;
    height: 200px;
    background: red;
    width: 100px;
}
.middle{
    float: left;
    background: pink;
    width: calc(100% - 200px);
}
.right{
    float:right;
    height: 400px;
    background: purple;
    width: 100px;
}
</style>
<body>
    <div class="parent">
        <div class="left">
            left     
        </div>
        <div class="middle">
            middle
        </div>
        <div class="right">
            right
        </div>
    </div>
</body>
</html>